*{
    padding: 0;
    margin: 0;
   
    
}
body{
    transition: ease;
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


#log{
    width: 20px;
}

nav li #logo:hover{
    margin-top: 0;  
    background-color: black;
    padding: 1em 2em 1em 2em;
    
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: 0.9;
}

#logo{
    position: relative;
}

nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    background: black;
}

nav li{
    
    padding: .5em .5em .5em .5em;
}

nav li a{
    color: white;
    display: block;
    text-decoration: none;
    padding: 1em 2em 1em 2em;
}

nav li a:hover{
    background: white;
    color: rgb(211, 112, 0);
    border-radius: 8px;
    transition: all .4s ease;
}

#sombra{
    background-color:rgb(255, 115, 0);
    color: white;
}

#sombra:hover{
    background-color: rgb(148, 81, 5);
    color: white;
}



.titulos{
    text-align: center;
    margin-top: 130px;
    font-size: 4em; 
    color: white;
}

.img_portada{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 40px;
}

.sub_titulo{
    margin-top: 20px;
    font-size: 15px;
    color: white;
    text-align: center;
}

.segundo{

    width: 100%;
    background-color: white;
    height: 220px;
}
